<ul class="trackList">
  <% tracks.map((track) =>{ %>
  <li>
    <div><%= track.title %></div>
    <div><%= track.artist %></div>
    <div><%= track.key %></div>
    <div><%= track.bpm %>bpm</div>
    <div><%= track.mp3 ? " mp3": "" %></div>
    <div><%= track.lossless ? " lossless": ""%></div>
    <div class="dropdown-menu-container">
      <button>...</button>
      <div class="dropdown-menu">
        <a href="/tracks/<%= track.id %>">Show track details</a>
        <a href="/tracks/<%= track.id %>/update">Change track info</a>

        <form
          action="/tracks/<%= track.id %>/delete"
          method="POST"
          style="display: inline"
        >
          <button
            type="submit"
            class="delete"
            onclick="return confirm('wanna delete? all double drop connections and matching song connections will also be deleted')"
          >
            Delete
          </button>
        </form>
      </div>
    </div>
  </li>
  <% }) %>
</ul>
