<!doctype html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% tracks.map((track) =>{ %>
      <li>
        <%= track.title %>,
        <%= track.artist %>,
        <%= track.key %>,
        <%= track.bpm %>
        <form
          action="/<%= track.id %>/delete"
          method="POST"
          style="display: inline"
        >
          <button type="submit" onclick="return confirm('wanna delete?')">
            Delete
          </button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
