<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/assets/css/index.css" rel="stylesheet" />
  </head>
  <body>
    <h1><%= title %></h1>
    <button><a href="/tracks/create">New Track</a></button>

    <input
      type="search"
      name="search-track"
      id="search-track"
      value="<%= selectedFilter.str %>"
      placeholder="Search Track"
      aria-label="Search through all tracks"
    />

    <div>
      <label for="mood-select">Mood: </label>
      <select name="moodId" id="mood-select">
        <option value="">any</option>
        <% moods.map((mood) => { %>
        <option value="<%= mood.id %>" 
          <%= selectedFilter.moodId  == mood.id ? "selected" : "" %>
        >
          <%= mood.mood %>
        </option>
        <% }); %>
      </select>
    </div>
    <div>
      <label for="key-select">Key</label>
      <select name="keyId" id="key-select">
        <option value="">any</option>

        <% keys.map((key) => { %>
        <option value="<%= key.id %>" 
          <%= selectedFilter.keyId  == key.id ? "selected" : "" %>
        >
          <%= key.key %>/<%= key.key_camelot%>
        </option>
        <% }); %>
      </select>
    </div>

    <% if (tracks.length === 0) { %>
    <p>No tracks found</p>
    <% } else { %>
    <%- include("partials/trackList.ejs", {tracks}) %>
    <% } %>

    <script>
      const searchElement = document.querySelector("#search-track");
      searchElement.onchange = (e) =>
        (location.href = `/tracks/?str=${searchElement.value}&keyId=${keyDropdown.value}&moodId=${moodDropdown.value}`);

      const moodDropdown = document.querySelector("#mood-select");
      moodDropdown.onchange = (e) =>
        (location.href = `/tracks/?str=${searchElement.value}&keyId=${keyDropdown.value}&moodId=${e.target.value}`);

      const keyDropdown = document.querySelector("#key-select");
      keyDropdown.onchange = (e) =>
        (location.href = `/tracks/?str=${searchElement.value}&keyId=${e.target.value}&moodId=${moodDropdown.value}`);

    </script>
  </body>
</html>
