<!doctype html>
<html>
  <head>
    <title><%= title %></title>

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <nav>
        <a class="nav-back" href="/tracks">
          <span class="material-symbols-outlined"> arrow_back </span>
        </a>
      </nav>
      <header>
        <h1><%= title %></h1>
      </header>
      <main>
        <div>
          <div>
            <p>Title</p>
            <div><%= track.title %></div>
          </div>
          <div>
            <p>Artist</p>
            <div><%= track.artist %></div>
          </div>
          <div>
            <p>Key</p>
            <div><%= track.key %></div>
          </div>
          <div>
            <p>Bpm</p>
            <div><%= track.bpm %></div>
          </div>
          <div>
            <p>Mood</p>
            <div><%= track.mood %></div>
          </div>
          <div>
            <p>Purchased</p>
            <div>
              <%= track.mp3 ? "mp3": "" %>
              <%= track.lossless ? ", lossless": ""%>
            </div>
          </div>
          <div class="cover-art"></div>
        </div>
        <ul>
          <li>
            <button>
              <span class="material-symbols-outlined"> more_vert </span>
              <div>Double Drops</div>
            </button>
          </li>
          <li>
            <button>
              <span class="material-symbols-outlined"> more_vert </span>
              <div>Matching Songs</div>
            </button>
          </li>
        </ul>
      </main>
    </div>
  </body>
</html>
