<!doctype html>
<html>
  <head>
    <title><%= title %></title>

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <button><a href="/tracks">Back</a></button>
    <h1><%= title %></h1>
    <p>
      <%= track.title %>, <%= track.artist %>, <%= track.key %>, <%= track.bpm
      %>bpm <%= track.mp3 ? ", mp3": "" %> <%= track.lossless ? ", lossless":
      ""%>
    </p>
  </body>
</html>
