<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/index.css" />

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div>
      <nav>
        <a class="nav-back" href="/tracks">Back</a>
      </nav>
      <header>
        <h1><%= title %></h1>
      </header>
      <main>
        <form class="track-form" action="/tracks/<%= track.id %>/update" method="POST">
        
            <label for="title">Title</label>
            <input
              type="text"
              name="title"
              id="title"
              value="<%= track.title %>"
              required
            />
          
          
            <label for="artist">Artist(s)</label>
            <input
              type="text"
              name="artist"
              id="artist"
              value="<%= track.artist %>"
              placeholder="For multiple artists insert comma inbetween like so: Wilkinson, Becky Hill"
              required
            />
         
          <%- include("partials/dropdowns/keyMoodDropdown.ejs", {track, moods, keys}) %>
          <label for="bpm">BPM</label>
          <input type="number" name="bpm" id="bpm" value="<%= track.bpm %>" />

          
          <div>Choose purchased file formats</div>

          <div class="checkbox-option-container">
            <input type="checkbox" name="purchasedMp3" id="mp3" value="true" <%= track.mp3 ? "checked" : "" %>/>
            <label for="mp3">mp3</label>
          </div>
           
          <div class="checkbox-option-container">
            <input
              type="checkbox"
              name="purchasedLossless"
              id="lossless"
              value="true"
              <%= track.lossless ? "checked" : "" %>
            />
            <label for="lossless">lossless</label>
          </div>

          <button class="form-submit" type="submit">Save Changes</button>
        </form>
      </main>
    </div>
  </body>
</html>
