<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/assets/css/index.css" rel="stylesheet" />
  </head>
  <body>
    <h1><%= title %></h1>
    <button><a href="/tracks/create">New Track</a></button>

    <input
      type="search"
      name="search-track"
      id="search-track"
      placeholder="Search Track"
      aria-label="Search through all tracks"
    />

    <%- include("partials/dropdowns/moodDropdown.ejs", {moods}) %>

    <%- include("partials/dropdowns/keyDropdown.ejs", {keys}) %>

    <% if (tracks.length === 0) { %>
    <p>No tracks found</p>
    <% } else { %>
    <%- include("partials/trackList.ejs", {tracks}) %>
    <% } %>

    <script>
      const searchElement = document.querySelector("#search-track");
      const moodDropdown = document.querySelector("#mood-select");
      const keyDropdown = document.querySelector("#key-select");

      const setUrl = (e) =>
        (location.href = `/tracks/?search=${e.target.value}?key=${keyDropdown.value}?mood=${moodDropdown.value}`);

      searchElement.onchange = (e) => setUrl(e);
      moodDropdown.onchange = (e) => setUrl(e);
      keyDropdown.onchange = (e) => setUrl(e);
    </script>
  </body>
</html>
